.header {
    background-color: black;

    a {
        text-decoration: none;
        color: white;
    }

    button {
        border: none;
    }

    &-container {
        max-height: 70px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;

        &__logo {
            width: auto;
            height: 70px;
        }

        &__nav-container {
            height: 70px;

            &__item {
                list-style: none;
                height: inherit;
                margin: 0;
                padding: 0;
                background-color: black;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;

                &:hover {
                    background-color: #151B54;
                }

                &.selected {
                    background-color: #2B3856;
                }
            }
        }
    }
}