.polls {
  &-dropdown {
    width: 300px;
    height: 30px;
    font-size: 20px;
    background-color: black;
    color: white;
  }

  &-container {
    margin-top: 20px;
    height: 100%;
    outline: 1px solid black;
  }

  &-submit {
    margin-top: 20px;
    transform: scale(1.5, 1.5);
  }

  &-optionList {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
  }

  &-option {
    display: grid;
    grid-template-columns: 50% 50%;

    img {
      max-width: 195px;
    }

    &-infobox {
      display: grid;
      grid-template-rows: 50% 50%;
    }

    &-info {
      color: white;
      background-color: #282c34;
      opacity: 50;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    &-checkbox {
      transform: scale(1.5, 1.5);
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}